{% extends 'base.html.twig' %}

{% block body %}
    <div class="header-container">
        <div class="title"><span>Tareas</span></div>
        <div class="new-btn"><a href="{{ path('new_task') }}"><span>Nueva tarea +</span></a></div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Creado el</th>
            <th class="text-center" >Tiempo transcurrido</th>
            <th class="text-center">Tiempo trabajado hoy</th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{{ path('detail_task', { id: task.id }) }}">{{ task.title }}</a></td>
                    <td>{{ task.createdAt|date('d/m/Y') }}</td>
                    <td class="text-center">{{ task.elapsedTimeFormatted }}</td>
                    <td class="text-center">{{ task.elapsedTimeTodayFormatted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            color: #333;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .text-center {
            text-align: center;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
        }
        .new-btn {
            cursor: pointer;
            font-size: 40px;
            margin-bottom: 10px;
            color: #3497d9;
        }
        .title {
            color: #3497d9;
            text-align: center;
            font-size: 70px;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            margin: 0;
            padding: 15px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
            font-size: 30px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3497d9;
            color: white;
            font-weight: bold;
        }
        tr:nth-child(odd) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        td {
            color: #555;
        }
        button {
            background-color: #007BFF;
            color: white;
            padding: 15px 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            width: 100%; /* Botón ocupa el ancho completo */
            box-sizing: border-box;
            margin-top: 20px;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}



